<div class="text-block text-block_line text-block_scheme">
	<div class="text-block__column text-block__column_padding text-block__column_mobile-margin">
		<!-- Title -->
		<h2 class="text-block__title">
			{{product.construction.title}}
		</h2>
		<p class="text-block__text" ng-bind-html="product.construction.text"></p>
	</div>
	<div class="text-block__column text-block__column_padding">
		<!-- Title -->
		<h2 class="text-block__title">
			Схема
		</h2>
		<img
			ng-src="{{product.construction.scheme}}"
			alt=""
			class="text-block__img">
		<button class="btn btn_blue btn-size-1" ng-click="showConstruction()">
			Увеличить
		</button>
	</div>
</div>
