<form class="order-form" ng-controller="OrderCtrl" ng-submit="submitForm()">
	<header>
		<h3 class="order-form__title">
			<svg ng-if="context !== 'callme' && !mobile" class="icon icon-cart"><use xlink:href="icons/icons.svg#cart"></use></svg>
			<span ng-if="context === 'callme'">Перезвоните мне</span>
			<span ng-if="context === 'order'">Оформить заказ</span>
			<span ng-if="context === 'oneclick'">Купить в 1 клик</span>
		</h3>
	</header>
	<section class="order-form__body" ng-if="!state.complete && !state.loading">
		<ol class="order-form__list" ng-if="context !== 'callme'">
			<li class="order-form__item" ng-repeat="(key,product) in products track by $index">
				<strong ng-if="products.length > 1">{{key+1}}.</strong>
				{{product.title}}
				<span ng-if="!!product.texture">модель {{product.texture}}</span>
				<span ng-if="product.withCornice && product.cornice.cartText" ng-bind="' + ' + product.cornice.cartText"></span>
				<span class="dimenstions" ng-if="!!product.allowHeight && !!product.dimensions.width && !!product.dimensions.height">
					({{product.dimensions.width}} см x {{product.dimensions.height}} см)
				</span>
				<span class="dimenstions" ng-if="!product.allowHeight && !!product.dimensions.width">
					({{product.dimensions.width}} cм)
				</span>
				- <strong>
					{{product.price | number:0}} р.
				</strong><span ng-if="!product.priceExactly">/м<sup>2</sup></span>
			</li>
		</ol>
		<input type="text" class="order-form__input" placeholder="Ваше имя" ng-model="order.name">
		<input type="tel" class="order-form__input" placeholder="Ваш телефон" ng-model="order.phone" ng-focus="phoneFocus();">
	</section>
	<section class="order-form__body" ng-if="state.complete">
		<p>
			<span ng-if="context !== 'callme'">Ваш заказ отправлен!</span>
			<span ng-if="context === 'callme'">Готово!</span>
			<br>
			Ожидайте звонка в назначенное время.
		</p>
	</section>
	<footer class="order-form__footer" ng-if="!state.complete && !state.loading">
		<p class="order-form__text" ng-if="(context !== 'callme') && (workingTime)">
			Наш менеджер перезвонит Вам для подтверждения заказа.
		</p>
		<p class="order-form__text" ng-if="(context !== 'callme') && (!workingTime)">
			Сегодня мы уже не работаем, но завтра наш менеджер
			обязательно перезвонит Вам для подтверждения заказа.
		</p>
		<div class="order-form__call-title">Время звонка</div>
		<div class="order-form__time">
			<div dropdown-select="hours"
				dropdown-model="order.hour"
				dropdown-item-label="label">
			</div>
		</div>
		<div class="order-form__time">
			<div dropdown-select="minutes"
				dropdown-model="order.min"
				dropdown-item-label="label">
			</div>
		</div>
		<button class="btn btn_green btn_big order-form__submit">Перезвоните мне</button>
	</footer>
</form>
