<div class="product" ng-class="{'single': product.single}" ng-controller="ProductCtrl">
	<!-- Product view -->
	<div class="product__wrapper">
		<!-- Label -->
		<div ng-if="!!product.sale" class="product__label">
			<div class="product__label-text">
				-{{product.sale}}%
			</div>
		</div>
		<div class="product__inner">
			<!-- Img -->
			<a
				href="#!{{product.link}}{{product.url ? '#' + product.url : ''}}"
				style="background-size: cover"
				ng-style="{'background-image':'url(' + product.image + ')'}"
				class="product__img"
			>
			</a>
			<!-- Cart btn -->
			<span class="product__cart-btn" ng-click="addProductToCart(product)">
				<svg class="icon icon-cart"><use xlink:href="icons/icons.svg#cart"></use></svg>
				<span class="product__cart-label">
					В корзину
				</span>
			</span>
			<div class="product__container">
				<!-- Review -->
				<div class="product__review" ng-if="product.reviews_count">
					<input-stars
						readonly
						icon-base="icon"
						icon-empty="icon-star inactive"
						icon-hover="icon-rating-hover-star"
						icon-full="icon-star"
						list-class="product__review-list"
						max="5"
						ng-model="product.rating">
					</input-stars>
					<!-- Review label -->
					<div class="product__review-label">
						<span class="product__review-count">{{product.reviews_count}}</span>
						<span>{{declOfNum(product.reviews_count,['отзыв','отзыва','отзывов'])}}</span>
					</div>
				</div>
				<header class="product__header">
					<!-- Title -->
					<h2 class="product__title">
						<a href="#!{{product.link}}{{product.url ? '#' + product.url : ''}}">{{product.title}}</a>
					</h2>
					<!-- Subtitle -->
					<h3 ng-if="!!product.texture" class="product__subtitle">
						<span>{{product.texture}}</span>
						<!-- <a href="/{{product.category_link}}">{{product.category_title}}</a> -->
					</h3>
				</header>
				<!-- Colors -->
				<div class="product__colors" ng-if="product.textures.length > 0">
					<h3 class="product__colors-title">
						<span>{{product.textures.length}}</span> цветов и текстур
					</h3>
					<ul class="product__colors-list" ng-init="product.texture_id=product.textures[0].id">
						<li class="product__colors-item" ng-repeat="texture in product.textures">
							<label class="product__colors-label" title="{{texture.model}}">
								<input
									type="radio"
									name="product_texture_{{product.id}}"
									ng-value="texture.id"
									ng-model="product.texture_id">
								<div class="product__colors-dot" ng-style="{'background-image': 'url(' + texture.img + ')'}"></div>
							</label>
						</li>
					</ul>
				</div>
			</div>
			<!-- Footer -->
			<footer class="product__footer">
				<!-- Price container -->
				<div class="product__price-container">
					<!-- Old price -->
					<div ng-if="!!product.sale" class="product__price-old">
						{{product.price * (100+product.sale)/100 | number:0}} р./м<sup>2</sup>
					</div>
					<!-- New price -->
					<div class="product__price-new">
						<strong>от {{product.price | number:0}} р.</strong>/м<sup>2</sup>
					</div>
				</div>
				<!-- Btn -->
				<a href="#/{{product.link}}{{product.url ? '#' + product.url : ''}}" class="btn btn_green btn_size-1">
					Детали
				</a>
			</footer>
		</div>
	</div>
</div>
