.benefits {
	position: relative;
	color: #fff;
	position: relative;
	background: url(../img/bg_benefits.jpg);
	background-size: cover;
	float: left;
	width: 320px;
	height: 380px;
	margin-right: 20px;
	.stitch(@color: fade(#fff,90%), @padding: 3px);
	&_services{
		background-image: url(../img/slider_services.jpg);
		margin-right: 0;
		width: 300px;
		@media @tablet-mq{
			margin-right: 0;
		}
	}
	&_advantages{
		background-image: url(../img/slider_advantages.jpg);
		.benefit__title {
			color: #70582a;
			font-size: 20px;
			margin: 26px 0 13px;
		}
	}
	.text-block_benefits &{
		height: 460px;
		width: 100%;
		margin-bottom: 0;
	}
	&__label {
		position: absolute;
		left: 30px;
		top: 36px;
		z-index: 5;
		opacity: 0.5;
		color: #000;
		font-family: Roboto;
		font-size: 13px;
		font-weight: 400;
		letter-spacing: 1px;
	}
	@media @tablet-mq{
		width: 320px;
		margin-bottom: 20px;
		float: left;
	}
	@media @tablet-portrait-mq{
		float: left;
		width: 280px;
		margin-right: 20px;
		margin-left: 20px;
		.text-block_benefits &{
			margin-left: 0;
			margin-right: 0;
		}
	}
	@media @mobile-mq{
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
}
