.icon {
	display: inline-block;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.icon-phone{
	background: url(../img/phone.png);
	width: 40px;
	height: 40px;
}
.icon-cart{
	background: url(../img/cart.png);
	width: 40px;
	height: 40px;
}
.icon-search{
	background: url(../img/search.png);
	width: 15px;
	height: 15px;
}
.icon-arrow-down{
	background: url(../icons/arrow-down.svg);
	width: 8px;
	height: 5px;
	fill: currentColor;
}
.icon-arrow-left,
.icon-arrow-right,{
	width: 12px;
	height: 22px;
	fill: currentColor;
}