body {
	font-family: 'Roboto', sans-serif;
	background: #eee;
}
[ng-view]{
	min-height: 760px;
	&.view-constructor{
		min-height: 156px;
	}
	.dis-loader{
		display: block;

	}
	&.ng-scope{
		background: none;
		& + .dis-loader{
			display: none;
			&.active{
				display: block;
			}
		}
	}
	@media @mobile-mq{
		min-height: 400px;
	}
}
* {
	box-sizing: border-box;
}
a, input, textarea, select, button {
	&:focus {
		outline: none;
	}
}
textarea{
	resize: vertical;
}

.container {
	width: @desktop;
	margin: 0 auto;
	position: static;
	.clearfix();
	&_small{
		width: @desktop-small;
	}
	&__holder{
		position: relative;
		overflow: hidden;
		padding-top: 5px;
	}
	&__inside{
		margin: 0 -10px;
		[class^="column-"]:first-child{
			padding-left: 10px;
		}
		[class^="column-"]:last-child{
			padding-right: 10px;
		}
	}
	[class^="column-"] {
		float: left;
		padding: 0 10px;
		.clearfix();
		&:first-of-type {
			padding-left: 0;
		}
		&:last-of-type {
			padding-right: 0;
		}
	}
	&_menu {
		position: absolute;
		width: 100%;
		top: 60px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
	}
	&_margin-bottom {
		margin-bottom: 20px;
		.clearfix();
	}
	&_tight{
		margin-top: -80px;
		z-index: 20;
		position: relative;
		@media @tablet-mq{
			padding: 0;
		}
		@media @tablet-portrait-mq{
			margin-top: -30px;
		}
	}
	&_product-page {
		margin-top: -85px;
		margin-bottom: 100px;
		z-index: 10;
		position: relative;
		@media @tablet-portrait-mq{
			margin-top: -30px;
		}
		@media @mobile-mq{
			margin-top: -48px;
			margin-bottom: 20px;
		}
	}
	&_relative {
		position: relative;
	}
	&_padding {
		padding: 0 20px;
	}

	@media @tablet-portrait-mq{
		&_menu{
			display: none;
		}
		&_tablet-width{
			width: 100% !important;
		}
	}
	
	@media @mobile-mq{
		&_mobile-width{
			width: 100% !important;
		}
	}
}
.column-1 {
	width: 100%/4;
}
.column-2 {
	width: 100%/2;
}
.column-3 {
	width: 100%/4*3;
}
.column-4 {
	width: 100%;
}
.top-stripe{
	position: relative;
	&:before{
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		display: block;
		.stripes();
		z-index: 10;
	}
}
.bottom-stripe{
	position: relative;
	&:after{
		position: absolute;
		bottom: 0;
		left: 0;
		content: '';
		display: block;
		.stripes();
		z-index: 10;
	}
}