.main-content {
	margin-top: 55px;
	background: #eee;
}
.main-content__home-nav{
	display: none;
	@media @tablet-portrait-mq{
		display: block;
		text-align: center;
		position: relative;
		margin-top: -82px;
		margin-bottom: 30px;
	}
}
