.mobile-menu{
	&__list{
		list-style: none;
		margin: 0 0 33px;
		padding: 0;
	}
	&__item{
		background-color: fade(#36b493, 95%);
		margin: 0 0 3px;
		position: relative;
	}
	&__link{
		display: block;
		color: #fff;
		font-size: 12px;
		font-weight: 500;
		padding: 13px 25px;
		text-decoration: none;
	}
	&__expander{
		position: absolute;
		right: 0;
		top: 0;
		width: 42px;
		height: 42px;
		text-align: center;
		padding: 10px;
		cursor: pointer;
	}
	&__expander-input{
		position: absolute;
		opacity: 0;
		cursor: pointer;
		right: 0;
	}
	&__expander-input:checked ~ &__expander>span{
		.icon-minus();
	}
	&__item>&__list{
		margin-bottom: 0;
		max-height: 0;
		overflow: hidden;
		transition: max-height @animation-time, margin-bottom @animation-time;
		.mobile-menu__link{
			color: #353231;
		}
	}
	&__expander-input:checked ~ &__list{
		max-height: 300px;
		margin-bottom: 13px;
	}
	&__item>&__list>&__item{
		margin: 0;
		background: #fff;
		border-bottom: 1px solid #eee;
	}
	&__item>&__list>&__item>&__link{
		position: relative;
		font-weight: 400;
		&:hover{
			background: #e6ec9d;
		}
		&:after{
			content: '';
			position: absolute;
			right: 17px;
			top: 10px;
			background: url('../icons/shevron-right.svg') no-repeat;
			width: 12px;
			height: 22px;
			opacity: .5;
			transform: scale(0.5);
		}
	}
}
