.more-btn {
	padding-top: 10px;
	padding-bottom: 50px;
	text-align: center;
	&__link {
		display: inline-block;
		color: darken(#a1a1a1, 10%);
		font-size: 11px;
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 0.04em;
		opacity: 0.75;
		padding: 8px 25px 7px;
		border: 2px solid fade(#7d7d7d,20%);
		transition: opacity @animation-time;
		&:hover {
			opacity: 1;
		}
		
	}
	&__text {
		margin-left: 10px;
	}
}
