.phone-top{
	text-align: right;
	&__icon{

	}
	&__link{
		color: #fff;
		font-size: 15px;
		font-weight: 700;
		text-decoration: none;
		display: inline-block;
		vertical-align: top;
		line-height: 1;
		padding: 12px 0;
		margin-left: 12px;
	}
	&__time{
		color: fade(#000,70%);
		font-family: PTSans;
		font-size: 12px;
		font-weight: 700;
		line-height: 1;

		display: inline-block;
		vertical-align: top;
		background-color: fade(#ced55a, 80%);
		border-radius: 3px;
		padding: 3px 10px 5px;
		margin: 10px 0 0 7px;
	}
	&__button{
		color: #fff;
		font-family: Roboto;
		font-size: 13px;
		font-weight: 400;
		line-height: 1;

		vertical-align: top;
		background: none;
		opacity: 0.7;
		border: 1px solid #ced55a;
		padding: 7px 16px 8px 17px;
		margin: 5px 0 0 43px;
	}
}