.search-info {
	float: left;
	opacity: 0.9;
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
	padding: 0 10px;
	&__filters-toggle{
		width: 100%;
		display: none;
	}
	@media @tablet-portrait-mq{
		float: none;
		margin-bottom: 20px;
		padding: 0;

		&__filters-toggle{
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}
