@header-color: #fff;
@header-border-color: darken(#E5E5E5, 10%);
.site-header {
	position: fixed;
	width: 100%;
	top: 0;
	backface-visibility: hidden;
	&:before{
		content: '';
		// background: url(../img/logo_shadow.png);
		position: absolute;
		display: block;
		width: 156px;
		height: 156px;
		top: -18px;
		left: 50%;
		margin-left: -67px;
		z-index: 4;
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		bottom: 25px;
		height: 59px;
		left: 0;
		right: 0;
		background-color: #fff;
		box-shadow: 2.5px 4.3px 18px rgba(0, 0, 1, 0.21);
		z-index: 5;
		top:0;
		@media @tablet-mq{
			height: 56px;
		}
	}
	&__inner {
		background: url('../img/menu_bg.png') 0 bottom repeat-x;
		width: 100%;
		height: 84px;
		position: relative;
		z-index: 22;
	}
	&__container-wrapper {
		background: @header-color;
		position: relative;
		z-index: 22;
	}
	&__container {
		position: relative;
		.btn {
			margin-top: -10px/4;
		}
		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			width: 1px;
			height: 63px;
			background: linear-gradient(to bottom, rgba(204,204,204,1) 0%,rgba(204,204,204,1) 1%,rgba(204,204,204,0.79) 92%,rgba(204,204,204,0) 100%);
		}
		&_left {
			float: left;
			&:after {
				display: none;
			}
		}
		&_right {
			float: right;
			&:before {
				display: none;
			}
		}
	}
	&__menu-toggle{
		margin: 12px 0 0 0px;
		padding: 10px;
		cursor: pointer;
		border: none;
		background: none;
		display: none;
	}
	@media @tablet-portrait-mq{
		position: absolute;
		&:before{
			content: none;
		}
		&__inner{
			height: 56px;
			background: #fff;
		}
		&__menu-toggle{
			display: inline-block;
		}
	}
}
