<div class="gallery">
	<!-- Title -->
	<div class="gallery__title">
		{{product.title}} <span class="gallery__model-title">модель {{currentTexture.model}}</span>
	</div>
	<!-- Main img -->
	<div class="gallery__container">
		<div
			ng-style="{'background-image': 'url(' + (product.gallery[gallery.currentImage].src) + ')', opacity: (gallery.currentImage !== -1)?1:0 }"
			class="gallery__main-img">
			<div class="gallery__texture-container" ng-class="!!gallery.previewImage?'gallery__texture-container_active':'' ">
				<div class="gallery__texture-img" ng-style="{'background-image': 'url(' + (gallery.previewImage) + ')'}" alt="texture"> </div>
			</div>
		</div>
		<div class="gallery__controls">
			<button class="gallery__button left" ng-click="moveGallery(-1)">
				<svg class="icon icon-shevron-left">
					<use xlink:href="icons/icons.svg#shevron-left"></use>
				</svg>
			</button>
			<button class="gallery__button right" ng-click="moveGallery(1)">
				<svg class="icon icon-shevron-right">
					<use xlink:href="icons/icons.svg#shevron-right"></use>
				</svg>
			</button>
		</div>
	</div>
	
	<!-- List -->
	<ul class="gallery__list">
		<li
			ng-repeat="(index, galleryItem) in product.gallery"
			class="gallery__item">
			<input
				type="radio"
				ng-value="{{index}}"
				ng-model="gallery.currentImage"
				ng-checked="{{$first}}"
				class="gallery__input"
				id="galleryItem-{{index+1}}">
			<label
				style="background: url({{galleryItem.src}}) center no-repeat; background-size: cover;"
				class="gallery__item-img"
				for="galleryItem-{{index+1}}">
			</label>
		</li>
	</ul>
</div>
