<!-- Main content -->
<main class="main-content main-content_catalog">
	<!-- Image gradient -->
	<div class="container container_padding">
		<aside class="catalog__aside">
			<!-- Filter -->
			<div class="form form_filter" catalog-responsive>
				<form action="#">
					<!-- Prices range -->
					<fieldset class="form__fieldset">
						<legend class="form__legend">
							Диапазон цен
						</legend>
						<!-- Range -->
						<div class="form__field" ng-if="priceSlider">
							<!-- Price range -->
							<range
								min="priceSlider.min"
								max="priceSlider.max"
								options="{{priceSlider.options}}">
							</range>
						</div>
					</fieldset>
					<!-- Blinds type -->
					<fieldset class="form__fieldset" ng-if="!!pageOptions.filter_title">
						<legend class="form__legend">
							{{pageOptions.filter_title}}
						</legend>
						<div class="form__field" ng-repeat="categoryFilter in pageOptions.subcategories">
							<checkbox
								model="categoryChecks[categoryFilter.slug]"
								label="{{categoryFilter.name}}"
								checked="{{categoryFilter.checked}}"
								name="{{categoryFilter.slug}}">
							</checkbox>
						</div>
					</fieldset>
					<!-- Colors -->
					<fieldset class="form__fieldset">
						<legend class="form__legend">
							Выберите цвет материала
						</legend>
						<div ng-include="'includes/search-color-little.html'"></div>
					</fieldset>
				</form>
			</div>
		</aside><!-- Catalog -->
		<div class="catalog catalog_3">
			<ul class="catalog__list">
				<li
					ng-repeat="product in catalogItems"
					class="catalog__item">
					<div ng-include="'views/directives/product.html'" scope="" onload=""></div>
				</li>
			</ul>
			<!-- More btn -->
			<div class="more-btn more-btn_olive">
				<a href class="more-btn__link" ng-click="addProductList()" ng-if="showLoadMoreBtn">
					<span class="icon icon-more"></span>
					<span class="more-btn__text">
						Показать еще результаты
					</span>
				</a>
			</div>
		</div>
	</div>
</main>
