<main class="home" ng-controller="HomeCtrl">
	<section class="container-holder">
		<div class="container container_margin-bottom">
			<div class="column-3 column_pr0">
				<div class="news">
					<div class="news__inner">
						<div class="news__img-holder">
							<img src="img/news_constructor.jpg" alt="Constructor" class="news__img">
						</div>
							
						<div class="news__container">
							<div class="news__label">
								<div class="news__label-text">акция</div>
							</div>
							<h2 class="news__title">Конструктор жалюзи и штор</h2>
							<p class="news__text">Затрудняетесь с выбором  материала для штор или жалюзи? Вам поможет наш конструктор! Загрузите фото своего окна и  прикладывайте шторы прямо  на фото.</p>
							<a href="#" class="btn btn_green">Перейти в конструктор</a>
						</div>
					</div>
				</div>
			</div>
			<div class="column-1 column_pl2">
				<benefits
				title="Услуги"
				url="services.json"
				id="services">
				</benefits>
			</div>
		</div>
	</section>

	<div class="container">
		<div class="column-1 column_pr0">
			<benefits
				title="Преимущества"
				url="advantages.json"
				id="advantages"
			></benefits>
		</div>
			
		<div class="column-1">
			<!-- include includes/product.html -->
		</div>
			
		<div class="column-1 column_pl0 column_pr0">
			<div ng-include="'views/search-color.html'"></div>
		</div>
			
		<div class="column-1 column_pl2">
			<div ng-include="'views/room-type.html'"></div>
		</div>
	</div>

	<!-- Jumbotron -->
	<section class="jumbotron container__holder">
		<div class="container">
			<div class="jumbotron__img" style="background-image: url('img/jumbotron_eco.jpg')"></div>
			<svg class='icon icon-leaves jumbotron__icon'>
				<use xlink:href="icons/icons.svg#leaves"></use>
			</svg>
			<h2 class="jumbotron__title">
				Экологичность материалов 
				<br />
				подтверждена европейскими сертификатами
			</h2>
				
			<p class="jumbotron__text">
				За здоровье своих детей можно не волноваться, так как мы выбираем только тех производителей материалов, которые не используют в производстве вредные химикаты.
			</p>
			<a href="#" class="btn btn_green">о нашем контроле</a>
			<a href="#" class="btn btn_olive">жалюзи из бамбука</a>
		</div>
	</section>
		
			
	<div class="container">
		<div class="catalog">
			<ul class="catalog__list">
				<li
					ng-repeat="product in catalogItems"
					class="catalog__item">
					<div ng-include="'views/directives/product.html'" scope="" onload=""></div>
				</li>
			</ul>	
			<!-- More btn -->
			<div class="more-btn">
				<a href class="more-btn__link" ng-click="getProductList()" ng-if="showLoadMoreBtn">
					<span class="icon icon-more"></span>
					<span class="more-btn__text">
						Показать больше новинок
					</span>
				</a>
			</div>
		</div>
	</div>
</main>