<!-- Home view -->
<main class="home">
	<section class="container__holder">
		<div class="container container_margin-bottom">
			<!-- News -->
			<news></news>
			<!-- Benefits -->
			<benefits
				title="Услуги"
				url="services.json"
				class="benefits_services hide-in-tablet">
			</benefits>
			<benefits
				title="Преимущества"
				url="advantages.json"
				class="benefits_advantages"
			></benefits>
			<!-- Product -->
			<div class="product-inside" ng-repeat="product in featuredProduct.slice(0,1)">
				<div ng-init="product.single = true;" ng-include="'views/directives/product.html'"></div>
			</div>

			<section class="search-color">
				<h3 class="search-color__title">
					Поиск по цвету
				</h3> 
				<p class="search-color__text">
					Выберите цвет материала и мы покажем варианты жалюзи и штор c выбранным цветом
				</p>
				<ng-include src="'includes/search-color-little.html'"></ng-include>
				<div class="search-color__btn-set">
					<a ng-href="{{'#!/catalog/' + colorHash}}" class="btn btn_green">Найти по цвету</a>
				</div>
			</section>

			<div class="room-type">
				<h3 class="room-type__title">
					Тип помещения
				</h3>
				<ul class="room-type__list">
					<li class="room-type__item">
						<a href="/#!/catalog#room=(school);" class="room-type__link">
							<svg class="icon icon-school room-type__icon">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/icons.svg#school"></use>
							</svg>
							<div class="room-type__name">Школа</div>
						</a>
					</li>
					<li class="room-type__item">
						<a href="/#!/catalog#room=(shop);" class="room-type__link">
							<svg class="icon icon-shop room-type__icon">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/icons.svg#shop"></use>
							</svg>
							<div class="room-type__name">Магазин</div>
						</a>
					</li>
					<li class="room-type__item">
						<a href="/#!/catalog#room=(cafe);" class="room-type__link">
							<svg class="icon icon-cafe room-type__icon">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/icons.svg#cafe"></use>
							</svg>
							<div class="room-type__name">Кафе</div>
						</a>
					</li>
					<li class="room-type__item">
						<a href="/#!/catalog#room=(medicine);" class="room-type__link">
							<svg class="icon icon-medicine room-type__icon">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/icons.svg#medicine"></use>
							</svg>
							<div class="room-type__name">Медицина</div>
						</a>
					</li>
					<li class="room-type__item">
						<a href="/#!/catalog#room=(garage);" class="room-type__link">
							<svg class="icon icon-garage room-type__icon">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/icons.svg#garage"></use>
							</svg>
							<div class="room-type__name">Гараж</div>
						</a>
					</li>
					<li class="room-type__item">
						<a href="/#!/catalog#room=(office);" class="room-type__link">
							<svg class="icon icon-office room-type__icon">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/icons.svg#office"></use>
							</svg>
							<div class="room-type__name">Офис</div>
						</a>
					</li>
					<li class="room-type__item">
						<a href="/#!/catalog#room=(children);" class="room-type__link">
							<svg class="icon icon-children room-type__icon">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/icons.svg#children"></use>
							</svg>
							<div class="room-type__name">Детская</div>
						</a>
					</li>
					<li class="room-type__item">
						<a href="/#!/catalog#room=(kitchen);" class="room-type__link">
							<svg class="icon icon-kitchen room-type__icon">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/icons.svg#kitchen"></use>
							</svg>
							<div class="room-type__name">Кухня</div>
						</a>
					</li>
					<li class="room-type__item">
						<a href="/#!/catalog#room=(living);" class="room-type__link">
							<svg class="icon icon-living room-type__icon">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/icons.svg#living"></use>
							</svg>
							<div class="room-type__name">Гостиная</div>
						</a>
					</li>
				</ul>
			</div>

			<!-- Product -->
			<div class="product-inside hide-in-desktop show-in-tablet" ng-repeat="product in featuredProduct.slice(1)">
				<div ng-init="product.single = true;" ng-include="'views/directives/product.html'"></div>
			</div>

			<benefits
				title="Услуги"
				url="services.json"
				class="benefits_services hide-in-desktop show-in-tablet">
			</benefits>
	</div>

	<!-- Jumbotron -->
	<section class="jumbotron container__holder">
		<div class="jumbotron__bg"></div>
		<div class="container">
			<!-- Img -->
			<svg class='icon icon-leaves jumbotron__icon'>
				<use xlink:href="icons/icons.svg#leaves"></use>
			</svg>
			<h2 class="jumbotron__title">
				Экологичность материалов 
				<br />
				подтверждена европейскими сертификатами
			</h2>
				
			<p class="jumbotron__text">
				За здоровье своих детей можно не волноваться, так как мы выбираем только тех производителей материалов, которые не используют в производстве вредные химикаты.
			</p>
			<a href="#!/article/ecocontrol" class="btn btn_green">о нашем контроле</a>
			<a href="#!/catalog/gorizontalnye_zhalyuzi/bambukovye" class="btn btn_olive">жалюзи из бамбука</a>
		</div>
	</section>
	<!-- Catalog -->
	<div class="container">
		<div class="catalog">
			<ul class="catalog__list">
				<li
					ng-repeat="product in catalogItems"
					class="catalog__item">
					<div ng-include="'views/directives/product.html'" scope="" onload=""></div>
				</li>
			</ul>
			<!-- More btn -->
			<div class="more-btn">
				<a href class="more-btn__link" ng-click="getProductList()" ng-if="showLoadMoreBtn">
					<span class="icon icon-more"></span>
					<span class="more-btn__text">
						Показать больше новинок
					</span>
				</a>
			</div>
		</div>
	</div>
</main>