section.delivery.container__holder
	.container
		.delivery__img(style="background-image: url('img/car-map.jpg')", alt="")
		.delivery__inside
			h2.delivery__title
				| замер и доставка в пределах
				br
				| мкад -бесплатно
			p.delivery__text
				| Бесплатно при заказе установки конструкции нашими специалистами. За МКАД - 30 руб/км
			a.btn.btn_green(href="#") заказать замер
			a.btn.btn_yellow(href="#") подробнее о доставке
footer.site-footer
	.site-footer__top-menu
		.container
			// Top
			.site-footer__row
			// Left
			.site-footer__column.site-footer__column_left
				// Conatacts
				.contacts
					// Title
					h2.site-footer__title
						| Наши контакты
					// List
					ul.contacts__list
						li.contacts__item
							a.contacts__link(href="tel:+74955426484")
								| +7 (495) 542-64-84
						li.contacts__item
							a.contacts__link(href="mailto:info@design-okna.ru")
								| info@design-okna.ru
						li.contacts__item
							| г. Москва, Новочеркасский бульвар,
							br
							| д.41, корп.3
				// Socials
				.socials
					ul.socials__list
						li.socials__item
							a.socials__link(href="#")
								svg.icon.icon-vk
									use(xlink:href="icons/icons.svg#vk")
						li.socials__item
							a.socials__link(href="#")
								svg.icon.icon-fb
									use(xlink:href="icons/icons.svg#fb")
						li.socials__item
							a.socials__link(href="#")
								svg.icon.icon-ok
									use(xlink:href="icons/icons.svg#ok")
						li.socials__item
							a.socials__link(href="#")
								svg.icon.icon-insta
									use(xlink:href="icons/icons.svg#insta")
			// Right
			.site-footer__column.site-footer__column_right
				// Menu vertical
				.nav-footer
					.nav-footer__column
						// Title
						h2.nav-footer__title
							| Горизонтальные жалюзи
						ul.nav-footer__list
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Алюминиевые
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Пластиковые
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Бамбуковые
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Волна
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Деревянные
					.nav-footer__column
						// Title
						h2.nav-footer__title
							| Горизонтальные жалюзи
						ul.nav-footer__list
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Алюминиевые
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Пластиковые
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Бамбуковые
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Волна
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Деревянные
					.nav-footer__column
						// Title
						h2.nav-footer__title
							| Горизонтальные жалюзи
						ul.nav-footer__list
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Алюминиевые
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Пластиковые
					.nav-footer__column
						// Title
						h2.nav-footer__title
							| Горизонтальные жалюзи
						ul.nav-footer__list
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Алюминиевые
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Пластиковые
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Бамбуковые
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Волна
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Деревянные
	.site-footer__bottom-menu
		.container
			.site-footer__row
			.site-footer__column.site-footer__column_left
				// Write us
				h2.site-footer__title
					| Обратная связь
				p.site-footer__text
					| Есть вопросы, пожелания, замечания или хотите нас похвалить?
				a.btn.btn_yellow(href="#")
					| Напишите нам
			.site-footer__column.site-footer__column_right
				// Menu vertical
				.nav-footer
					.nav-footer__column
						// Title
						h2.nav-footer__title
							| Горизонтальные жалюзи
						ul.nav-footer__list
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Алюминиевые
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Пластиковые
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Бамбуковые
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Волна
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Деревянные
					.nav-footer__column
						// Title
						h2.nav-footer__title
							| Горизонтальные жалюзи
						ul.nav-footer__list
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Алюминиевые
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Пластиковые
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Бамбуковые
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Волна
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Деревянные
					.nav-footer__column
						// Title
						h2.nav-footer__title
							| Горизонтальные жалюзи
						ul.nav-footer__list
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Алюминиевые
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Пластиковые
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Бамбуковые
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Волна
							li.nav-footer__item
								a.nav-footer__link(href="#")
									| Деревянные
	// Vendor
	.vendor
		.container
			// Logo
			img.vendor__logo(src="img/vendor_logo.png", alt="")
			p.vendor__text
				| Все придумано и разработано командой 
				a.vendor__link(href="http://brainmaze.net") brainmaze.net
				| , а дизайн помещения сделан друзьями из 
				a.vendor__link(href="#") ab masterplan
			p.vendor__text.vendor__text_grey
				| Авторство фотографий
			div.vendor__payment
				| МЫ ПРИНИМАЕМ
				img(src="img/payment.png", alt="Visa, MasterCard, Yandex.Money")
				
