section.delivery.container__holder
	.container
		.delivery__img(style="background-image: url('img/car-map.jpg')", alt="")
		.delivery__inside
			h2.delivery__title
				| замер и доставка в пределах
				br
				| мкад -бесплатно
			p.delivery__text
				| Бесплатно при заказе установки конструкции нашими специалистами. За МКАД - 30 руб/км
			a.btn.btn_green(href="#") заказать замер
			a.btn.btn_olive(href="#") подробнее о доставке