<section class="delivery container__holder">
	<div class="container">
		<div class="delivery__img" style="background-image: url('img/car-map.jpg')"></div>
		<div class="delivery__inside">
			<h2 class="delivery__title">
				замер и доставка в пределах
				<br />
				мкад -бесплатно
			</h2>
			<p class="delivery__text">
				Бесплатно при заказе установки конструкции нашими специалистами. За МКАД - 30 руб/км
			</p>
			<a href="#" class="btn btn_green">заказать замер</a>
			<a href="#" class="btn btn_yellow">подробнее о доставке</a>
		</div>
	</div>
</section>	

<footer class="site-footer">
	<!-- Seo -->
	<!-- <div class="seo" ng-if="!!blockContent">
		<div class="container">
			<img src="img/logo_footer.png" alt="Дизайн Окна" class="seo__logo hide-in-mobile">
			<div class="seo__container" ng-bind-html="blockContentHtml"></div>
		</div>
	</div> -->
	<div class="site-footer__menu">
		<div class="site-footer__top-menu">
			<div class="container">
				<!-- Top -->
				<div class="site-footer__row">
					<!-- Left -->
					<div class="site-footer__column site-footer__column_left hide-in-tablet show-in-mobile">
						<!-- Contacts -->
						<div class="contacts">
							<!-- Title -->
							<h2 class="site-footer__title">
								Наши контакты
							</h2>
							<!-- List -->
							<ul class="contacts__list">
								<li class="contacts__item">
									<a href="tel:+74955426484" class="contacts__link">
										<span class="ya-phone">+7 (495) 542-64-84</span>
									</a>
								</li>
								<li class="contacts__item">
									<a href="mailto:info@design-okna.ru" class="contacts__link">
										info@design-okna.ru
									</a>
								</li>
								<li class="contacts__item">
									г. Москва, Новочеркасский бульвар,<br>д.41, корп.3
								</li>
							</ul>
						</div>
						<!-- Socials -->
						<div class="socials">
							<ul class="socials__list">
								<li class="socials__item">
									<a href="#" class="socials__link">
										<svg class="icon icon-vk"><use xlink:href="icons/icons.svg#vk"></use></svg>
									</a>
								</li>
								<li class="socials__item">
									<a href="#" class="socials__link">
										<svg class="icon icon-fb"><use xlink:href="icons/icons.svg#fb"></use></svg>
									</a>
								</li>
								<li class="socials__item">
									<a href="#" class="socials__link">
										<svg class="icon icon-ok"><use xlink:href="icons/icons.svg#ok"></use></svg>
									</a>
								</li>
								<li class="socials__item">
									<a href="#" class="socials__link">
										<svg class="icon icon-insta"><use xlink:href="icons/icons.svg#insta"></use></svg>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- Right -->
					<div class="site-footer__column site-footer__column_right">
						<!-- Menu vertical -->
						<div class="menu-vertical">
							<div class="menu-vertical__column">
								<a href="/catalog/Gorizontalnyye_zhalyuzi" class="menu-vertical__title">
									Горизонтальные жалюзи
								</a>
								<ul class="menu-vertical__list">
									<li class="menu-vertical__item"><a href="/catalog/Gorizontalnye_zhaluzi/Alyuminievye" class="menu-vertical__link">Алюминиевые</a></li>
									<li class="menu-vertical__item"><a href="/catalog/Gorizontalnye_zhaluzi/Plastikovyye" class="menu-vertical__link">Пластиковыые</a></li>
									<li class="menu-vertical__item"><a href="/catalog/Gorizontalnye_zhaluzi/Bambukovye" class="menu-vertical__link">Бамбуковые</a></li>
									<li class="menu-vertical__item"><a href="/catalog/Gorizontalnye_zhaluzi/Volna" class="menu-vertical__link">Волна</a></li>
								</ul>
							</div>
							<div class="menu-vertical__column">
								<a href="/catalog/Vertikalnyye_zhalyuzi" class="menu-vertical__title">
									Вертикальные жалюзи
								</a>
								<ul class="menu-vertical__list">
									<li class="menu-vertical__item"><a href="/catalog/Vertikalnyye_zhaluzi/Alyuminevye" class="menu-vertical__link">Алюминевые</a></li>
									<li class="menu-vertical__item"><a href="/catalog/Vertikalnyye_zhaluzi/Tkanevye" class="menu-vertical__link">Тканевые</a></li>
									<li class="menu-vertical__item"><a href="/catalog/Vertikalnyye_zhaluzi/Plastikovye" class="menu-vertical__link">Пластиковые</a></li>
									<li class="menu-vertical__item"><a href="/catalog/Vertikalnyye_zhaluzi/Briz" class="menu-vertical__link">Бриз</a></li>
								</ul>
							</div>
							<div class="menu-vertical__column">
								<a href="/catalog/derevyannyye_zhalyuzi" class="menu-vertical__title">
									Деревянные жалюзи
								</a>
							</div>
							<div class="menu-vertical__column">
								<a href="/catalog/Rulonnyye_zhalyuzi" class="menu-vertical__title">
									Рулонные жалюзи
								</a>
								<ul class="menu-vertical__list">
									<li class="menu-vertical__item"><a href="/catalog/Rulonnyye_zhaluzi/Tkanevye" class="menu-vertical__link">Тканевые</a></li>
									<li class="menu-vertical__item"><a href="/catalog/Rulonnyye_zhaluzi/Zebra" class="menu-vertical__link">Зебра</a></li>
									<li class="menu-vertical__item"><a href="/catalog/Rulonnyye_zhaluzi/Mini" class="menu-vertical__link">Мини</a></li>
									<li class="menu-vertical__item"><a href="/catalog/Rulonnyye_zhaluzi/Uni" class="menu-vertical__link">Уни</a></li>
									<li class="menu-vertical__item"><a href="/catalog/Rulonnyye_zhaluzi/S_fotopechatyu" class="menu-vertical__link">С фотопечатью</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="site-footer__bottom-menu">
			<div class="container">
				<div class="site-footer__row">
					<div class="site-footer__column site-footer__column_left hide-in-tablet">
						<!-- Write us -->
						<h2 class="site-footer__title">
							Обратная связь
						</h2>
						<p class="site-footer__text">
							Есть вопросы, пожелания, замечания или хотите нас похвалить?
						</p>
						<button class="btn btn_green" ng-click="openFeedback()">
							Напишите нам
						</button>
					</div>
					<div class="site-footer__column site-footer__column_right">
						<!-- Menu vertical -->
						<div class="menu-vertical menu-vertical_tablet">
							<div class="menu-vertical__column">
								<!-- Title -->
								<h2 class="menu-vertical__title">
									Горизонтальные жалюзи
								</h2>
								<ul class="menu-vertical__list">
									<li class="menu-vertical__item">
										<a href="#" class="menu-vertical__link">
											Алюминиевые
										</a>
									</li>
									<li class="menu-vertical__item">
										<a href="#" class="menu-vertical__link">
											Пластиковые
										</a>
									</li>
									<li class="menu-vertical__item">
										<a href="#" class="menu-vertical__link">
											Бамбуковые
										</a>
									</li>
									<li class="menu-vertical__item">
										<a href="#" class="menu-vertical__link">
											Волна
										</a>
									</li>
									<li class="menu-vertical__item">
										<a href="#" class="menu-vertical__link">
											Деревянные
										</a>
									</li>
								</ul>
							</div>
							<div class="menu-vertical__column">
								<!-- Title -->
								<h2 class="menu-vertical__title">
									Горизонтальные жалюзи
								</h2>
								<ul class="menu-vertical__list">
									<li class="menu-vertical__item">
										<a href="#" class="menu-vertical__link">
											Алюминиевые
										</a>
									</li>
									<li class="menu-vertical__item">
										<a href="#" class="menu-vertical__link">
											Пластиковые
										</a>
									</li>
									<li class="menu-vertical__item">
										<a href="#" class="menu-vertical__link">
											Бамбуковые
										</a>
									</li>
									<li class="menu-vertical__item">
										<a href="#" class="menu-vertical__link">
											Волна
										</a>
									</li>
									<li class="menu-vertical__item">
										<a href="#" class="menu-vertical__link">
											Деревянные
										</a>
									</li>
								</ul>
							</div>
							<div class="menu-vertical__column">
								<!-- Title -->
								<h2 class="menu-vertical__title">
									Горизонтальные жалюзи
								</h2>
								<ul class="menu-vertical__list">
									<li class="menu-vertical__item">
										<a href="#" class="menu-vertical__link">
											Алюминиевые
										</a>
									</li>
									<li class="menu-vertical__item">
										<a href="#" class="menu-vertical__link">
											Пластиковые
										</a>
									</li>
									<li class="menu-vertical__item">
										<a href="#" class="menu-vertical__link">
											Бамбуковые
										</a>
									</li>
									<li class="menu-vertical__item">
										<a href="#" class="menu-vertical__link">
											Волна
										</a>
									</li>
									<li class="menu-vertical__item">
										<a href="#" class="menu-vertical__link">
											Деревянные
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- Tablet contacts and socials -->
				<div class="site-footer__row site-footer__row_tablet hide-in-desktop">
					<div class="site-footer__column site-footer__column_left">
						<!-- Write us -->
						<h2 class="site-footer__title">
							Обратная связь
						</h2>
						<p class="site-footer__text">
							Есть вопросы, пожелания, замечания или хотите нас похвалить?
						</p>
						<button class="btn btn_green" ng-click="openFeedback()">
							Напишите нам
						</button>
					</div>
					<div class="site-footer__column site-footer__column_middle hide-in-mobile">
						<!-- Contacts -->
						<div class="contacts">
							<!-- Title -->
							<h2 class="site-footer__title">
								Наши контакты
							</h2>
							<!-- List -->
							<ul class="contacts__list">
								<li class="contacts__item">
									<a href="tel:+74955426484" class="contacts__link">
										+7 (495) 542-64-84
									</a>
								</li>
								<li class="contacts__item">
									<a href="mailto:info@design-okna.ru" class="contacts__link">
										info@design-okna.ru
									</a>
								</li>
								<li class="contacts__item">
									г. Москва, Новочеркасский бульвар,<br>д.41, корп.3
								</li>
							</ul>
						</div>
					</div>
					<div class="site-footer__column site-footer__column_right hide-in-mobile">
						<!-- Vendor -->
						<div class="vendor vendor_tablet">
							<p class="vendor__text">
								МЫ ПРИНИМАЕМ
								<img src="img/payment.png" alt="Visa, MasterCard, Yandex.Money">
							</p>
						</div>
						<!-- Socials -->
						<div class="socials">
							<ul class="socials__list">
								<li class="socials__item">
									<a href="#" class="socials__link">
										<svg class="icon icon-vk"><use xlink:href="icons/icons.svg#vk"></use></svg>
									</a>
								</li>
								<li class="socials__item">
									<a href="#" class="socials__link">
										<svg class="icon icon-fb"><use xlink:href="icons/icons.svg#fb"></use></svg>
									</a>
								</li>
								<li class="socials__item">
									<a href="#" class="socials__link">
										<svg class="icon icon-ok"><use xlink:href="icons/icons.svg#ok"></use></svg>
									</a>
								</li>
								<li class="socials__item">
									<a href="#" class="socials__link">
										<svg class="icon icon-insta"><use xlink:href="icons/icons.svg#insta"></use></svg>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Vendor -->
	<div class="vendor">
		<div class="container">
			<!-- Logo -->
			<img src="img/vendor_logo.png" alt="" class="vendor__logo">
			<p class="vendor__text">
				Все придумано и разработано командой <a href="http://brainmaze.net" class="vendor__link">brainmaze.net</a>, а дизайн помещения сделан друзьями из <a href="#" class="vendor__link">ab masterplan</a> 
			</p>
			<p class="vendor__text vendor__text_grey">
				Авторство фотографий
			</p>
			<div class="vendor__text hide-in-tablet hide-in-mobile">
				МЫ ПРИНИМАЕМ
				<img src="img/payment.png" alt="Visa, MasterCard, Yandex.Money">
			</div>
		</div>
	</div>
</footer>