<header class="site-header" ng-class="'site-header_' + titleHeaderClass">
	<section class="slider slider_big" ng-style="{'background-image': 'url(' + headerImage + ')'}">
		<!-- pagination="true" -->
		<div
			id="bigCarousel"
			single-item="true"
			pagination="false"
			transition-style="'fade'"
			mouse-drag="false"
			touch-drag="false"
			auto-play="true"
			single-item="true"
			responsive="true"
			responsive-refresh-rate="200"
			owl-carousel="['img/slider/1.jpg','img/slider/2.jpg','img/slider/3.jpg','img/slider/4.jpg','img/slider/5.jpg']">
			<div class="item">
				<div
					ng-style="{'background-image': 'url({{item}})'}"
					class="slider__img">
				</div>
			</div>
		</div>
	</section>
	<div class="site-header__tools">
		<div class="container">
			<div class="site-header__phone-callme phone-top">
				<svg class="icon phone-top__icon icon-phone" xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="icons/icons.svg#mobile" ng-click="openCallme()"></use></svg>
				<div href="tel:+74955426484" class="phone-top__link" ng-click="openCallme()">+7 (495) 542-76-98</div>
				<div class="phone-top__time">9-21ч</div> 
				<button class="phone-top__button" ng-click="openCallme()">перезвоните мне</button> 
			</div>
			<div class="site-header__mobile-search" ng-click="openSearch()">
				<svg class="icon phone-top__icon icon-phone" xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="icons/icons.svg#search_mobile"></use></svg>
			</div>
			<div class="site-header__logo">
				<a class="site-header__logo-link" href="/#!/">
					<img src='img/logo.png' alt='Сити Жалюзи' class="site-header__logo-img">
				</a>
			</div>
				
			<div class="site-header__mobile-menu" ng-click="toggleOffCanvas('right');">
				<svg class="icon phone-top__icon icon-phone" xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="icons/icons.svg#menu_mobile"></use></svg>
			</div>
			<div class="site-header__cart-search">
				<!-- Cart -->
				<cart></cart>
				<!-- Search -->
				<div class="search site-header__search" ng-controller="SearchCtrl">
					<form  class="search-top" ng-submit="search()">
						<input type="text" class="search-top__input" placeholder='Поиск' ng-model="term">
						<button type='submit' class="search-top__submit">
							<span class="search__loading-icon" ng-show="!!loading">
								<svg class="circular" viewBox="25 25 50 50">
									<circle class="path" cx="50" cy="50" r="20" fill="none" stroke="#fff" stroke-width="4" stroke-miterlimit="10"/>
								</svg>
							</span>
							<span class="icon icon-search" ng-show="!loading">
							</span>
						</button>
					</form>
					<div class="search__links" ng-if="results" ng-click="clickResult()">
						<ul class="article-set__list article-set__list_search">
							<li
							ng-repeat="(key, link) in results | limitTo:-4"
							class="article-set_item">
								<a href="#!{{link.url}}" class="article-set__link">
									<span class="article-set__link-text">
										{{link.title}}
									</span>
									<svg class="icon icon-shevron-right"><use xlink:href="icons/icons.svg#shevron-right"></use></svg>
								</a>
							</li>
						</ul>
					</div>
					<div class="search__nothing" ng-if="nothing">
						Ничего не найдено
					</div>
				</div>
			</div>
			<button class="search-info__filters-toggle btn btn_green" ng-show="titleHeaderClass === 'catalog'" ng-click="toggleOffCanvas('left')">Фильтровать</button>
		</div>
	</div>
	<nav class="site-header__nav nav-top">
		<div class="container">
			<ul class="nav-top__list">
				<li class="nav-top__item withsub ">
					<span class="nav-top__link hide-in-desktop show-in-tablet">
						<span class="nav-top__category">жалюзи</span>
						<span class="nav-top__name">Вертикальные</span>
					</span>
					<a href="#!/catalog/vertikalnye_zhalyuzi" class="nav-top__link hide-in-tablet">
						<span class="nav-top__category">жалюзи</span>
						<span class="nav-top__name">Вертикальные</span>
					</a>
					<ul class="nav-top__sub-list">
						<li class="nav-top__sub-item">
							<a href="#!/catalog/vertikalnye_zhalyuzi/alyuminievye" class="nav-top__sub-link">
								<img src="img/menu/vertical_aluminium.jpg" alt="Алюминиевые" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Алюминиевые</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/vertikalnye_zhalyuzi/tkanevye" class="nav-top__sub-link">
								<img src="img/menu/vertical_tkanevye.jpg" alt="Тканевые" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Тканевые</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/vertikalnye_zhalyuzi/plastikovye" class="nav-top__sub-link">
								<img src="img/menu/vertical_plastic.jpg" alt="Пластиковые" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Пластиковые</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/vertikalnye_zhalyuzi/verevochnye" class="nav-top__sub-link">
								<img src="img/menu/vertical_nityanye.jpg" alt="Нитяные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Нитяные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/product/vertikalnye_zhalyuzi/tkanevye/multifakturnye_vertikalnye_zhalyuzi" class="nav-top__sub-link">
								<img src="img/menu/vertical_multifacture.jpg" alt="Мультифактурные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Мультифактурные</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-top__item withsub ">
					<span class="nav-top__link hide-in-desktop show-in-tablet">
						<span class="nav-top__category">жалюзи</span>
						<span class="nav-top__name">горизонтальные</span>
					</span>
					<a href="#!/catalog/gorizontalnye_zhalyuzi" class="nav-top__link hide-in-tablet">
						<span class="nav-top__category">жалюзи</span>
						<span class="nav-top__name">горизонтальные</span>
					</a>
					<ul class="nav-top__sub-list">
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu/horizontal_aluminium.jpg" alt="Алюминиевые" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Алюминиевые</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/plastikovye" class="nav-top__sub-link">
								<img src="img/menu/horizontal_plastic.jpg" alt="Пластиковые" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Пластиковые</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/bambukovye" class="nav-top__sub-link">
								<img src="img/menu/horizontal_bamboo.jpg" alt="Бамбуковые" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Бамбуковые</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/derevyannye" class="nav-top__sub-link">
								<img src="img/menu/horizontal_wood.jpg" alt="Деревянные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Деревянные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/volna" class="nav-top__sub-link">
								<img src="img/menu/horizontal_volna.jpg" alt="Волна" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Волна</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-top__item">
					<span class="nav-top__link hide-in-desktop show-in-tablet">
						<span class="nav-top__category">жалюзи</span>
						<span class="nav-top__name">Мираж</span>
					</span>
					<a href="#!/catalog/mirazh" class="nav-top__link hide-in-tablet">
						<span class="nav-top__category">жалюзи</span>
						<span class="nav-top__name">Мираж</span>
					</a>
				</li>
				<li class="nav-top__item withsub">
					<span class="nav-top__link hide-in-desktop show-in-tablet">
						<span class="nav-top__category"></span>
						<span class="nav-top__name">Шторы</span>
					</span>
					<a href="#!/catalog/klassicheskie_shtory" class="nav-top__link hide-in-tablet">
						<span class="nav-top__category"></span>
						<span class="nav-top__name">Шторы</span>
					</a>
					<ul class="nav-top__sub-list">
						<li class="nav-top__sub-item">
							<a href="#!/catalog/klassicheskie_shtory" class="nav-top__sub-link">
								<img src="img/menu/shtory_klassicheskie.jpg" alt="Классические" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Классические</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/klassicheskie_shtory" class="nav-top__sub-link">
								<img src="img/menu/shtory_decorativnye.jpg" alt="Декоративные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Декоративные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/vertikalnye_zhalyuzi/verevochnye" class="nav-top__sub-link">
								<img src="img/menu/shtory_verevochnye.jpg" alt="Веревочные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Веревочные</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-top__item withsub withsub">
					<span class="nav-top__link hide-in-desktop show-in-tablet">
						<span class="nav-top__category">Шторы</span>
						<span class="nav-top__name">Рулонные</span>
					</span>
					<a href="#!/catalog/rulonnye_zhalyuzi" class="nav-top__link hide-in-tablet">
						<span class="nav-top__category">Шторы</span>
						<span class="nav-top__name">Рулонные</span>
					</a>
					<ul class="nav-top__sub-list">
						<li class="nav-top__sub-item">
							<a href="#!/catalog/rulonnye_zhalyuzi/tkanevye" class="nav-top__sub-link">
								<img src="img/menu/rulon_tkanevye.jpg" alt="Тканевые" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Тканевые</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/rulonnye_zhalyuzi/zebra" class="nav-top__sub-link">
								<img src="img/menu/rulon_den_noch.jpg" alt="День-ночь" class="nav-top__sub-image">
								<span class="nav-top__sub-name">День-ночь</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/rulonnye_zhalyuzi/uni" class="nav-top__sub-link">
								<img src="img/menu/rulon_okna_pvh.jpg" alt="На окна ПВХ" class="nav-top__sub-image">
								<span class="nav-top__sub-name">На окна ПВХ</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/product/rulonnye_zhalyuzi/tkanevye/rulonnye_shtory_s_fotopechatyu" class="nav-top__sub-link">
								<img src="img/menu/rulon_photopechat.jpg" alt="С фотопечатью" class="nav-top__sub-image">
								<span class="nav-top__sub-name">С фотопечатью</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/product/rulonnye_zhalyuzi/tkanevye/rulonnye_zhalyuzi_s_plotnoy_tkanyu_blackout" class="nav-top__sub-link">
								<img src="img/menu/rulon_svetonepronitsaemye.jpg" alt="Светонепроницаемые" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Светонепроницаемые</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-top__item withsub">
					<span class="nav-top__link hide-in-desktop show-in-tablet">
						<span class="nav-top__category">Шторы</span>
						<span class="nav-top__name">Плиссе</span>
					</span>
					<a href="#!/catalog/plisse" class="nav-top__link hide-in-tablet">
						<span class="nav-top__category">Шторы</span>
						<span class="nav-top__name">Плиссе</span>
					</a>
					<ul class="nav-top__sub-list">
						<li class="nav-top__sub-item">
							<a href="#!/catalog/plisse" class="nav-top__sub-link">
								<img src="img/menu/plisse_okna_pvh.jpg" alt="На окна ПВХ" class="nav-top__sub-image">
								<span class="nav-top__sub-name">На окна ПВХ</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/plisse/den_noch" class="nav-top__sub-link">
								<img src="img/menu/plisse_den_noch.jpg" alt="День-ночь" class="nav-top__sub-image">
								<span class="nav-top__sub-name">День-ночь</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/plisse/gofre" class="nav-top__sub-link">
								<img src="img/menu/plisse_gofre.jpg" alt="Гофре" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Гофре</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-top__item withsub">
					<span class="nav-top__link hide-in-desktop show-in-tablet">
						<span class="nav-top__category"></span>
						<span class="nav-top__name">Рольставни</span>
					</span>
					<a href="#!/catalog/rolstavni" class="nav-top__link hide-in-tablet">
						<span class="nav-top__category"></span>
						<span class="nav-top__name">Рольставни</span>
					</a>
					<ul class="nav-top__sub-list">
						<li class="nav-top__sub-item">
							<a href="#!/catalog/rolstavni/zaschitnye" class="nav-top__sub-link">
								<img src="img/menu/rolstavni_zaschitnye.jpg" alt="Защитные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Защитные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/rolstavni/garazh" class="nav-top__sub-link">
								<img src="img/menu/rolstavni_garazh.jpg" alt="Гаражные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Гаражные</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-top__item withsub">
					<span class="nav-top__link hide-in-desktop show-in-tablet">
						<span class="nav-top__category"></span>
						<span class="nav-top__name">Карнизы</span>
					</span>
					<a href="#!/catalog/karnizy" class="nav-top__link hide-in-tablet">
						<span class="nav-top__category"></span>
						<span class="nav-top__name">Карнизы</span>
					</a>
					<ul class="nav-top__sub-list">
						<li class="nav-top__sub-item">
							<a href="#!/catalog/karnizy/derevo" class="nav-top__sub-link">
								<img src="img/menu/karnizy_derevo.jpg" alt="Деревянные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Деревянные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/karnizy/metal" class="nav-top__sub-link">
								<img src="img/menu/karnizy_metal.jpg" alt="Металические" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Металические</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/karnizy/bagetnye" class="nav-top__sub-link">
								<img src="img/menu/karnizy_bagetnye.jpg" alt="Багетные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Багетные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/karnizy/strunnye" class="nav-top__sub-link">
								<img src="img/menu/karnizy_strunnye.jpg" alt="Струнные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Струнные</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-top__item withsub">
					<span class="nav-top__link hide-in-desktop show-in-tablet">
						<span class="nav-top__category"></span>
						<span class="nav-top__name">Ворота</span>
					</span>
					<a href="#!/catalog/vorota" class="nav-top__link hide-in-tablet">
						<span class="nav-top__category"></span>
						<span class="nav-top__name">Ворота</span>
					</a>
					<ul class="nav-top__sub-list">
						<li class="nav-top__sub-item">
							<a href="#!/catalog/vorota/garazh" class="nav-top__sub-link">
								<img src="img/menu/vorota_garazhnye.jpg" alt="Гаражные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Гаражные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/vorota/otkatnye" class="nav-top__sub-link">
								<img src="img/menu/vorota_otkatnye.jpg" alt="Откатные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Откатные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/vorota/raspashnye" class="nav-top__sub-link">
								<img src="img/menu/vorota_raspashnye.jpg" alt="Распашные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Распашные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/vorota/sektsionnye" class="nav-top__sub-link">
								<img src="img/menu/vorota_sektsionnye.jpg" alt="Секционные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Секционные</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-top__item withsub">
					<span class="nav-top__link hide-in-desktop show-in-tablet">
						<span class="nav-top__category"></span>
						<span class="nav-top__name">сцена</span>
					</span>
					<a href="#!/catalog/stsena" class="nav-top__link hide-in-tablet">
						<span class="nav-top__category"></span>
						<span class="nav-top__name">одежда сцены</span>
					</a>
					<ul class="nav-top__sub-list">
						<li class="nav-top__sub-item">
							<a href="#!/catalog/stsena/arlekin" class="nav-top__sub-link">
								<img src="img/menu/stsena_arlekin.jpg" alt="Арлекин" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Арлекин</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/stsena/zadnik" class="nav-top__sub-link">
								<img src="img/menu/stsena_zadnik.jpg" alt="Задник" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Задник</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/stsena/kulisy" class="nav-top__sub-link">
								<img src="img/menu/stsena_kulisy.jpg" alt="Кулисы" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Кулисы</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/stsena/zanaves" class="nav-top__sub-link">
								<img src="img/menu/stsena_zanaves.jpg" alt="Занавес" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Занавес</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<!-- if catalog -->
	<div class="catalog-header" ng-if="titleHeaderClass === 'catalog'">
		<div class="container" ng-controller="CatalogCtrl">
			<!-- Search info -->
			<div class="search-info">
				<span>По заказу {{pageOptions.title}} найдено {{catalogItems.length}} предложений</span>
			</div>
			<!-- Sort -->
			<div class="sort">
				<div class="sort__text">
					Сортировать по:
				</div>
				<ul class="sort__list">
					<li class="sort__item">
						<button class="btn btn_transparent" ng-click="toggleSort('price')" ng-class="{btn_lightRed: (searchOptions.sort == 'price')}">
							<svg class="icon icon-rouble"><use xlink:href="icons/icons.svg#rouble"></use></svg>
							<span class="btn__text">
								Стоимости
							</span>
						</button>
					</li>
					<li class="sort__item active">
						<button class="btn btn_transparent" ng-click="toggleSort('rating')" ng-class="{btn_lightRed: (searchOptions.sort == 'rating')}">
							<svg class="icon icon-star"><use xlink:href="icons/icons.svg#star"></use></svg>
							<span class="btn__text">
								Рейтингу
							</span>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
<header class="mobile-site-header" ng-class="'mobile-site-header_' + titleHeaderClass">
	<div class="container">
		<ul class="mobile-site-header__list">
			<li class="mobile-site-header__item">
				<a href="#!/catalog/vertikalnye_zhalyuzi" class="mobile-site-header__link">
					Жалюзи
				</a>
			</li>
			<li class="mobile-site-header__item">
				<a href="#!/catalog/rolstavni" class="mobile-site-header__link">
					Ролставни
				</a>
			</li>
			<li class="mobile-site-header__item">
				<a href="#!/catalog/klassicheskie_shtory" class="mobile-site-header__link">
					Шторы
				</a>
			</li>
			<li class="mobile-site-header__item">
				<a href="#!/catalog/vorota" class="mobile-site-header__link">
					Ворота
				</a>
			</li>
			<li class="mobile-site-header__item">
				<a href="#!/catalog/karnizy" class="mobile-site-header__link">
					Карнизы
				</a>
			</li>
			<li class="mobile-site-header__item">
				<a href="#!/catalog/stsena" class="mobile-site-header__link">
					Одежда сцены
				</a>
			</li>
		</ul>
	</div>
</header>