<header class="site-header" ng-class="'site-header_' + titleHeaderClass">
	<section class="slider slider_big">
		<!-- pagination="true" -->
		<div
			id="bigCarousel"
			single-item="true"
			pagination="false"
			transition-style="'fade'"
			mouse-drag="false"
			touch-drag="false"
			auto-play="true"
			single-item="true"
			responsive="true"
			responsive-refresh-rate="200"
			owl-carousel="['img/header.jpg','img/header.jpg','img/header.jpg','img/header.jpg','img/header.jpg']">
			<div class="item">
				<div
					ng-style="{'background-image': 'url({{item}})'}"
					class="slider__img">
				</div>
			</div>
		</div>
	</section>
	<div class="site-header__tools">
		<div class="container">
			<div class="site-header__phone-callme phone-top">
				<svg class="icon phone-top__icon icon-phone" xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="icons/icons.svg#mobile" ng-click="openCallme()"></use></svg>
				<div href="tel:+74955426484" class="phone-top__link" ng-click="openCallme()">+7 (495) 542-64-84</div>
				<div class="phone-top__time">9-21ч</div> 
				<button class="phone-top__button" ng-click="openCallme()">перезвоните мне</button> 
			</div>
			<div class="site-header__mobile-search" ng-click="openSearch()">
				<svg class="icon phone-top__icon icon-phone" xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="icons/icons.svg#search_mobile"></use></svg>
			</div>
			<div class="site-header__logo">
				<a class="site-header__logo-link" href="/#!/">
					<img src='img/logo.png' alt='Сити Жалюзи' class="site-header__logo-img">
				</a>
			</div>
				
			<div class="site-header__mobile-menu" ng-click="toggleOffCanvas('right');">
				<svg class="icon phone-top__icon icon-phone" xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="icons/icons.svg#menu_mobile"></use></svg>
			</div>
			<div class="site-header__cart-search">
				<!-- Cart -->
				<cart></cart>
				<!-- Search -->
				<div class="search site-header__search" ng-controller="SearchCtrl">
					<form  class="search-top" ng-submit="search()">
						<input type="text" class="search-top__input" placeholder='Поиск' ng-model="term">
						<button type='submit' class="search-top__submit">
							<span class="search__loading-icon" ng-show="!!loading">
								<svg class="circular" viewBox="25 25 50 50">
									<circle class="path" cx="50" cy="50" r="20" fill="none" stroke="#fff" stroke-width="4" stroke-miterlimit="10"/>
								</svg>
							</span>
							<span class="icon icon-search" ng-show="!loading">
							</span>
						</button>
					</form>
					<div class="search__links" ng-if="results" ng-click="clickResult()">
						<ul class="article-set__list article-set__list_search">
							<li
							ng-repeat="(key, link) in results"
							class="article-set_item">
								<a href="#!/{{link.url}}" class="article-set__link">
									<span class="article-set__link-text">
										{{link.title}}
									</span>
									<svg class="icon icon-shevron-right"><use xlink:href="icons/icons.svg#shevron-right"></use></svg>
								</a>
							</li>
						</ul>
					</div>
					<div class="search__nothing" ng-if="nothing">
						Ничего не найдено
					</div>
				</div>
			</div>
			<button class="search-info__filters-toggle btn btn_green" ng-show="titleHeaderClass === 'catalog'" ng-click="toggleOffCanvas('left')">Фильтровать</button>
		</div>
	</div>
	<nav class="site-header__nav nav-top">
		<div class="container">
			<ul class="nav-top__list">
				<li class="nav-top__item withsub ">
					<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__link">
						<span class="nav-top__category">жалюзи</span>
						<span class="nav-top__name">Вертикальные</span>
					</a>
					<ul class="nav-top__sub-list">
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu1.jpg" alt="Классические" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Классические</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu2.jpg" alt="Декоративные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Декоративные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu3.jpg" alt="Нитяные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Нитяные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu4.jpg" alt="Кисея" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Кисея</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu5.jpg" alt="Нитяные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Нитяные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu6.jpg" alt="Кисея" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Кисея</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-top__item withsub ">
					<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__link">
						<span class="nav-top__category">жалюзи</span>
						<span class="nav-top__name">горизонтальные</span>
					</a>
					<ul class="nav-top__sub-list">
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu1.jpg" alt="Классические" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Классические</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu2.jpg" alt="Декоративные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Декоративные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu3.jpg" alt="Нитяные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Нитяные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu4.jpg" alt="Кисея" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Кисея</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu5.jpg" alt="Нитяные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Нитяные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu6.jpg" alt="Кисея" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Кисея</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-top__item withsub ">
					<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__link">
						<span class="nav-top__category">жалюзи</span>
						<span class="nav-top__name">Мираж</span>
					</a>
					<ul class="nav-top__sub-list">
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu1.jpg" alt="Классические" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Классические</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu2.jpg" alt="Декоративные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Декоративные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu3.jpg" alt="Нитяные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Нитяные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu4.jpg" alt="Кисея" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Кисея</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu5.jpg" alt="Нитяные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Нитяные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu6.jpg" alt="Кисея" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Кисея</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-top__item  ">
					<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__link">
						<span class="nav-top__category"></span>
						<span class="nav-top__name">Шторы</span>
					</a>
				</li>
				<li class="nav-top__item withsub active">
					<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__link">
						<span class="nav-top__category">Шторы</span>
						<span class="nav-top__name">Римские</span>
					</a>
					<ul class="nav-top__sub-list">
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu1.jpg" alt="Классические" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Классические</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu2.jpg" alt="Декоративные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Декоративные</span>
						</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu3.jpg" alt="Нитяные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Нитяные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu4.jpg" alt="Кисея" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Кисея</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu5.jpg" alt="Нитяные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Нитяные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu6.jpg" alt="Кисея" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Кисея</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-top__item withsub ">
					<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__link">
						<span class="nav-top__category">Шторы</span>
						<span class="nav-top__name">Рулонные</span>
					</a>
					<ul class="nav-top__sub-list">
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu1.jpg" alt="Классические" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Классические</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu2.jpg" alt="Декоративные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Декоративные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu3.jpg" alt="Нитяные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Нитяные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu4.jpg" alt="Кисея" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Кисея</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu5.jpg" alt="Нитяные" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Нитяные</span>
							</a>
						</li>
						<li class="nav-top__sub-item">
							<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__sub-link">
								<img src="img/menu6.jpg" alt="Кисея" class="nav-top__sub-image">
								<span class="nav-top__sub-name">Кисея</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-top__item  ">
					<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__link">
						<span class="nav-top__category">Шторы</span>
						<span class="nav-top__name">Плиссе</span>
					</a>
				</li>
				<li class="nav-top__item  ">
					<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__link">
						<span class="nav-top__category"></span>
						<span class="nav-top__name">Карнизы</span>
						</a>
				</li>
				<li class="nav-top__item  ">
					<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__link">
						<span class="nav-top__category"></span>
						<span class="nav-top__name">Рольставни</span>
					</a>
				</li>
				<li class="nav-top__item  ">
					<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__link">
						<span class="nav-top__category"></span>
						<span class="nav-top__name">Ворота</span>
					</a>
				</li>
				<li class="nav-top__item  ">
					<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="nav-top__link">
						<span class="nav-top__category"></span>
						<span class="nav-top__name"><span class="nav-top__other-text">одежда</span> сцены</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- if catalog -->
	<div class="catalog-header" ng-if="titleHeaderClass === 'catalog'">
		<div class="container" ng-controller="CatalogCtrl">
			<!-- Search info -->
			<div class="search-info">
				<span>По заказу {{pageOptions.title}} найдено {{catalogItems.length}} предложений</span>
			</div>
			<!-- Sort -->
			<div class="sort">
				<div class="sort__text">
					Сортировать по:
				</div>
				<ul class="sort__list">
					<li class="sort__item">
						<button class="btn btn_transparent" ng-click="toggleSort('price')" ng-class="{btn_lightRed: (searchOptions.sort == 'price')}">
							<svg class="icon icon-rouble"><use xlink:href="icons/icons.svg#rouble"></use></svg>
							<span class="btn__text">
								Стоимости
							</span>
						</button>
					</li>
					<li class="sort__item active">
						<button class="btn btn_transparent" ng-click="toggleSort('rating')" ng-class="{btn_lightRed: (searchOptions.sort == 'rating')}">
							<svg class="icon icon-star"><use xlink:href="icons/icons.svg#star"></use></svg>
							<span class="btn__text">
								Рейтингу
							</span>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
<header class="mobile-site-header" ng-class="'mobile-site-header_' + titleHeaderClass">
	<div class="container">
		<ul class="mobile-site-header__list">
			<li class="mobile-site-header__item">
				<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="mobile-site-header__link">
					Жалюзи
				</a>
			</li>
			<li class="mobile-site-header__item">
				<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="mobile-site-header__link">
					Ролставни
				</a>
			</li>
			<li class="mobile-site-header__item">
				<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="mobile-site-header__link">
					Шторы
				</a>
			</li>
			<li class="mobile-site-header__item">
				<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="mobile-site-header__link">
					Ворота
				</a>
			</li>
			<li class="mobile-site-header__item">
				<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="mobile-site-header__link">
					Карнизы
				</a>
			</li>
			<li class="mobile-site-header__item">
				<a href="#!/catalog/gorizontalnye_zhalyuzi/alyuminevye" class="mobile-site-header__link">
					Одежда сцены
				</a>
			</li>
		</ul>
	</div>
</header>