<header class="site-header site-header_constructor">
	<section class="slider slider_constructor" ng-controller="ConstructorPageCtrl">
		<!-- Constructor preview -->
		<constructor-preview
			ng-if="constructorBgImg.base64"
			background="{{constructorBgImg.base64}}"
			blind="{{texture.preview}}">
		</constructor-preview>
		<div
			ng-if="!constructorBgImg.base64"
			ng-style="{'background-color': '#333', 'background-image': 'url(' + texture.counstructorImage + ')'}"
			class="constructor__preview-slide">
		</div>
	</section>
	<div class="site-header__tools">
		<div class="container">
			<!-- Links set -->
			<a href="/#!" class="link-back">
				<svg class="icon icon-shevron-left-white link-back__icon"><use xlink:href="icons/icons.svg#shevron-left-white"></use></svg>
				<span class="link-back__text">
					назад
				</span>
			</a>
			<!-- Constructor title -->
			<div class="constructor-title">
				<svg class="icon icon-constructor constructor-title__icon"><use xlink:href="icons/icons.svg#cons"></use></svg>
				<div class="constructor-title__text">
					Конструктор жалюзи
				</div>
			</div>
			<!-- LOGO -->
			<div class="site-header__logo">
				<a class="site-header__logo-link" href="/">
					<img src='img/logo.png' alt='Сити Жалюзи' class="site-header__logo-img">
				</a>
			</div>
			<!-- Constructor Button -->
			<label
				class="constructor__upload-btn btn btn_lightRed btn_big">
				<input type="file" ng-model="constructorBgImg" ng-click="constructorBgImg.base64 = null" base-sixty-four-input>
				<svg class="icon icon-camera"><use xlink:href="icons/icons.svg#upload_photo"></use></svg>
				<span class="text">Загрузить фото своего окна</span>
			</label>
		</div>
	</div>
</header>