<div class="search-color__set">
	<ul class="colors-set" >
		<li class="colors-set__item" ng-repeat="model in colorCollection track by $index">
			<label class="color">
				<input
					type="checkbox"
					ng-model="model.checked"
					name="catalogColor"
					value="colorCatalog-{{model.id}}"
					ng-change="baseValueChange(model.checked)"
					>
				<span
					data-fill="{{model.color}}"
					class="color__bg">
					<span class="color__bg-inside" ng-style="{'background-color': '{{model.color}}'}"></span>
				</span>
			</label>
		</li>
	</ul>
</div>